Cython
imagesize
matplotlib
numpy
omegaconf>=2.0.1
onnx
onnxsim==0.4.36
opencv==4.7.0
pyaml
pycocotools
pytorch-lightning>=1.9.0,<2.0.0
tabulate
tensorboard
termcolor
torch>=2.0
torchmetrics
torchvision
tqdm
